<h1>This is user profile index</h1>
<%= current_user.email %>

<div class="row">
  <div class="col-sm-6" id='profile'>
    <%=@user_profile.name%>
    <%=@user_profile.age%>
  </div>
  <div class="col-sm-6" id="chart">

  </div>
</div>

<div class="row">
  <div class="col-sm-6" id="date_form">

  </div>
  <div class="col-sm-6" id="calendar">
  
  </div>
</div>
